@import 'styles/scss/extensions.scss';

.header {
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px 4px 40px 0;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
}

.linkList {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.link {
  @extend %mainTextShared;
}
