@import 'styles/scss/extensions.scss';

.section {
  min-height: 743px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  @extend %titleShared-72;

  max-width: 641px;
  margin-bottom: 56px;
  text-align: center;
}

.content {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.description {
  @extend %mainTextShared;

  max-width: 496px;

  span {
    display: block;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  min-width: 496px;
}

.image {
  margin: 100px auto 0;
  max-width: 344px;
  max-height: 360px;
  scale: 2.1;
}

@media screen and (max-width: $tabletBreakpoint) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
  }
}
