@import 'styles/scss/variables.scss';

.page {
  margin: 0 auto;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 815px;
    background-image: linear-gradient(to bottom, transparent 80%, #0c102d 95%), url('/assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
  }
}
