@import 'styles/scss/variables.scss';
@import 'styles/scss/extensions.scss';

.error {
  @extend %mainTextShared;

  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 10px;
  color: $errorTextColor;
}
