@import 'styles/scss/extensions.scss';
@import 'styles/scss/mixins.scss';
@import 'styles/scss/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  max-width: 703px;
  padding: 17px 20px 17px 24px;
  position: relative;
  transition: padding 0.3s ease-in-out;
  z-index: 10;

  @include roundedGradientBorder(8px, 1px, $gradient-1);
  @include croppedBorder(32px, true, false, true);
}

.button {
  padding: 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.title {
  @extend %titleShared-24;
}

.description {
  @extend %mainTextShared;
}

.descriptionContainer {
  height: 0;
  box-sizing: content-box;
  max-height: 500px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.visible {
  padding: 28px 21px 28px 24px;

  .descriptionContainer {
    height: 66px;
    padding-top: 16px;
  }

  .button {
    padding: 24px 16px;
  }
}
