@import 'styles/scss/extensions.scss';
@import 'styles/scss/mixins.scss';
@import 'styles/scss/variables';

.card {
  max-width: 703px;
  margin-bottom: 24px;
  padding: 17px 20px 17px 24px;
  position: relative;
  // background: url('/gradient-border-long.svg') no-repeat;
  transition: padding 0.3s ease-in-out;
  // transition: background-image 0.3s linear;

  &:nth-child(even) {
    @include card-clip(20px, 20px);
  }

  &:nth-child(odd) {
    // @include roundedGradientBorder(8px, 1px, $gradient-1);
    @include croppedRoundedGradientBorder(8px, 1px, $gradient-1, 32px, 0%, 32px);
  }
}

.button {
  padding: 28px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
}

.title {
  @extend %titleShared-24;
}

.description {
  @extend %mainTextShared;
}

.descriptionContainer {
  height: 0;
  //   padding-top: 16px;
  box-sizing: content-box;
  max-height: 500px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.visible {
  padding: 28px 21px 28px 24px;
  //   background: url('/gradient-border-long-full.svg') no-repeat;

  .descriptionContainer {
    height: 66px;
    padding-top: 16px;
  }
}
