@import 'styles/scss/extensions.scss';

.container {
  max-width: 1191px;
  margin: 0 auto;
  padding-right: 20px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  @extend %headlineShared;
}

.description {
  @extend %mainTextShared;

  max-width: 359px;
  margin-top: 36px;
}

.containerTop {
  display: flex;
  align-items: center;
  gap: 57px;
}

.containerBottom {
  margin: -26px 0 0 -6px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.subtitle {
  @extend %titleShared-32;

  margin: -8px 20px 0 0;
  align-self: flex-end;
}

@media screen and (max-width: $desktopBreakpoint) {
  .container {
    max-width: 935px;
  }

  .title {
    font-size: 98px;
  }

  .description {
    margin-top: 0;
  }
}
