@import 'styles/scss/extensions.scss';
@import 'styles/scss/mixins.scss';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}

.container {
  padding-right: 120px;
  display: flex;
  gap: 16px;
}

.mentorList {
  position: relative;
  display: flex;
  gap: 21px;
}

.mentor {
  max-width: 188px;

  &:first-child,
  &:last-child {
    margin: 51px 0 0;
  }
}

.imageContainer {
  width: 188px;
  height: 188px;
  margin: 0 0 16px;
  position: relative;
  border-radius: 50%;

  &::before {
    content: '';
    padding: 2px;
    position: absolute;
    inset: 0;
    background: $gradient-1;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    border-radius: 50%;
  }
}

.image {
  width: 100%;
  height: 188px;
  border-radius: 50%;
}

.name {
  @extend %titleShared-24;

  margin-bottom: 4px;
}

.info {
  @extend %mainTextShared;

  font-size: 14px;
}

.title {
  @extend %titleShared-72;

  margin-bottom: 56px;
}

.subtitle {
  @extend %titleShared-32;

  margin-bottom: 117px;
  position: relative;
  text-align: center;

  &::after {
    content: '';
    width: 394px;
    height: 157px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    background: url('/assets/icons/mentors-scheme-lines.svg') no-repeat;
  }
}

.description {
  @extend %mainTextShared;

  max-width: 486px;
  margin-top: 109px;
}

@media screen and (max-width: $desktopBreakpoint) {
  .container {
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }

  .description {
    width: 100%;
    text-align: center;
    margin: 109px auto 0;
  }
}
