@import 'styles/scss/mixins.scss';
@import 'styles/scss/extensions.scss';
@import 'styles/scss/variables.scss';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @extend %titleShared-72;

  max-width: 543px;
  margin-bottom: 16px;
  text-align: center;
}

.description {
  @extend %mainTextShared;

  max-width: 432px;
  margin-bottom: 54px;
  text-align: center;
}

.techList {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.tech {
  min-height: 230px;
  padding: 24px 9px 24px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include roundedGradientBorder(16px, 1px, $gradient-1-reversed);
  @include croppedBorder(42px, false, false, true);
}

.imageContainer {
  width: 162px;
  height: 136px;
  margin-bottom: 16px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.techName {
  @extend %titleShared-24;
}
