@import 'styles/scss/variables.scss';
@import 'styles/scss/mixins.scss';
@import 'styles/scss/extensions.scss';

.container {
  border: none;
  position: relative;
}

.inputContainer {
  @include roundedGradientBorder(8px, 1px, $gradient-1);
}

.input {
  @extend %mainTextShared;

  width: 100%;
  max-width: 493px;
  max-height: 70px;
  padding: 24px;
  background: $substractBgColor;
  border: none;
  border-radius: 8px;
  color: $formTextColor;

  &:focus {
    outline: none;
    color: $mainTextColor;
  }

  &::placeholder {
    color: $formTextColor;
  }

  &::-webkit-input-placeholder {
    color: $formTextColor;
  }

  &:-moz-placeholder {
    color: $formTextColor;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $formTextColor;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $formTextColor;
  }

  &::-ms-input-placeholder {
    color: $formTextColor;
  }
}

.disabled {
  .inputContainer {
    background: transparent;
    border: none;

    &::before {
      background: transparent;
    }
  }

  .input {
    border: 1px solid $disabledColor;
    color: $disabledColor;
  }
}

.invalid {
  .inputContainer {
    background: transparent;
    border: none;

    &::before {
      background: transparent;
    }
  }

  .input {
    border: 1px solid $errorColor;
    background: $invalidBgColor;
    color: $mainTextColor;
  }
}
