@import './variables.scss';

%mainTextShared {
  font-family: $mainTextFontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: $mainTextColor;
}

%headlineShared {
  font-family: $titleFontFamily;
  font-size: 150px;
  font-weight: 600;
  line-height: 120%;
  color: $mainTextColor;
}

%titleShared-72 {
  font-family: $titleFontFamily;
  font-size: 72px;
  font-weight: 600;
  line-height: 120%;
  color: $mainTextColor;
}

%titleShared-32 {
  font-family: $titleFontFamily;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: $mainTextColor;
}

%titleShared-24 {
  font-family: $titleFontFamily;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  color: $mainTextColor;
}
