@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
@import url(https://fonts.cdnfonts.com/css/clash-display);

.fs-150 {
  font-size: 150px;
}

.fs-72 {
  font-size: 72px;
}

.fs-32 {
  font-size: 32px;
}

.fs-24 {
  font-size: 24px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}
